
.test{
    width: 30px;
    height: 30px;
    background-color: red;
    padding: 10px;
}
.one video {
	object-fit: cover;
}
.localVideo {
	width: 200px;
	/* position: absolute; */
	z-index: 200;
	bottom: 10px;
	left: 10px;
	display: block;
}
.remoteVideos {
	width: 100%;
	height: 100%;
	/* position: absolute; */
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.remoteVideos video {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0px;
	min-height: 0px;
}

